
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<h2>My Enrolled Courses</h2>
<!--<div id="myModal" class="modal">-->

    <!-- Modal content -->
    <!--<div class="modal-content">
        <span class="close">&times;</span>
        <p>Congratulations!!! You have been enrolled to the course.</p>
    </div>

</div>-->
<div class="col-xs-12 col-sm-8 col-md-8">
    <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active"><a href="#orders" aria-controls="orders" role="tab" data-toggle="tab" class="font-15 text-uppercase">My Courses<span class="badge">4</span></a></li>
    </ul>
    <!-- Tab panes -->
    <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="orders">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th>Order ID</th>
                            <th>Date</th>
                            <th>Payment</th>
                            <th>Total</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">#1264</th>
                            <td>24/07/2016</td>
                            <td>PayPal</td>
                            <td>$127.50</td>
                            <td><a class="btn btn-success btn-xs" href="#">View Order</a></td>
                        </tr>
                        <tr>
                            <th scope="row">#1264</th>
                            <td>24/07/2016</td>
                            <td>PayPal</td>
                            <td>$127.50</td>
                            <td><a class="btn btn-success btn-xs" href="#">View Order</a></td>
                        </tr>
                        <tr>
                            <th scope="row">#1264</th>
                            <td>24/07/2016</td>
                            <td>PayPal</td>
                            <td>$127.50</td>
                            <td><a class="btn btn-success btn-xs" href="#">View Order</a></td>
                        </tr>
                        <tr>
                            <th scope="row">#1264</th>
                            <td>24/07/2016</td>
                            <td>PayPal</td>
                            <td>$127.50</td>
                            <td><a class="btn btn-success btn-xs" href="#">View Order</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
